.nav-bar{
display: flex;
justify-content: space-between;
padding: 12px;
padding-left: 35px;
padding-right: 10px;
background-color: #303030;
.nav-brand{
    width: 39px;
    border-radius: 50px;
}
.nav-bar-link{
    padding-right: 35px;
}
a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    margin-right: 35px;
    cursor: pointer;
    
}

}